html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, hr, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
/*== ここまでcssリセット comment==*/

p , h1 {
    color: white;
}


html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

header {
    display: flex;
    z-index: 2000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: black;
    border-bottom: solid #9e9e9e;
}

.sticky_head {
    position: fixed;
}

.gl_container {
    position: relative;
    margin: 100px 0 0;
    width: 100%;
    height: auto;
}
.gl_container_game {
    position: relative;
    width: 100%;
    height: auto;
}

.gl_container > .body_container {
    height: auto;
}

footer {
    height: 300px;
    background-color: black;
    border-top: solid red;
}
/*== ここまでサイズ規定 comment==*/

.header_logo {
    font-size: x-large;
    display: flex;
    max-width: 20vw;
    min-width: 180px;
    height: 100%;
    margin-left: 40px;
    align-items: center;
    text-align: center;
}

.header_logo a img {
    width: 100%;
    display: block;
    margin: auto;
}

.header_nav {
    display: flex !important;
    height: 100%;
}

.header_nav .gnav {
    display: flex;
    justify-content: center;
    padding: 0 1.5vw;
    font-size: 14px;

}

li {
    list-style: none;
}

.header_nav ul li {
    height: 100%;
    line-height: 1.24;
}

.header_nav ul li a {
    padding: 0 1.2vw;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

    .nav_img {
        height: 24px;
        text-align: center;
    }
    .nav_img_G {
        height: 28px;
        text-align: center;
    }
@media (max-width: 1420px){
    .nav_img {
        height: 20px;
        text-align: center;
    }
    .nav_img_G {
        height: 23px;
        text-align: center;
    }
}
@media (max-width: 1220px){
    .nav_img {
        height: 16px;
        text-align: center;
    }
    .nav_img_G {
        height: 20px;
        text-align: center;
    }
}



.header_nav ul li a img {
        height: 100%;
}

a {
    color: #2e2e2e;
    text-decoration: none;   
}
/*=====================================================================================*/
/*=====================================================================================*/
/*=====================================================================================*/
/*=====================================================================================*/
/*=====================================================================================*/
/*=====================================================================================*/
/*=====================================================================================*/
/*=====================================================================================*/

a, button {
    -webkit-tap-highlight-color: transparent;
}

.btm {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btm {
    display: none;
}
/*==ここまでheader comment==*/

.keyvisual {
    position: relative;
}

.keyvisual_wrap {
    display: flex;
    justify-content: center;
    height: calc(100vh - 280px);
    position: relative;
    min-height: 600px;
    margin: 100px 0 0;
    overflow: hidden;
    background-color: rgba(0, 1, 62, 0.05);
    color: white;
    text-align: center;
}

.keyvisual_wrap img {
    width: 1264px;
    height: auto;
    padding-bottom: 0;
    border-radius: 0px;
    text-align: center;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 500;
    font-weight: 900;
    line-height: 1.4;
    font-size: 3.75vw;
    letter-spacing: 0.03em;
}

.title p {
    background-color: rgba(0, 1, 62, 0.5);
    width: 100%;
    padding: 20px;
    text-align: center;
}
.title img {
    height: 75px;
}

.gradientmask {
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    width: 100%;
    height: 300px;
}

/*==ここまでkeyvisual comment==*/




.grid_container {
    height: auto;
    margin: 30px 17%;
    display: grid;
    color: white;
    text-align: center;
}

.grid_container {
    grid-template-areas: 
    " g1_1 g1_1"
    " g2_1 g2_2"
    " g3_1 g3_1";
}

.g1_1 {
    grid-area: g1_1;
    font-size: xx-large;
}
.g2_1 {
    grid-area: g2_1;
}
.g2_2 {
    grid-area: g2_2;
}
.g3_1 {
    grid-area: g3_1;
    font-size: xx-large;
}

.g_img img {
    width: 100%;
}





/*==ここまでgrid comment==*/




.V_wrap {
    margin: 10px 0 50px;
}

.V_wrap p {
    text-align: center;
    font-size: 3em;
}

.video {
    display: flex;
    justify-content: center;
    width: 100%;
}
/*==ここまでyoutube comment==*/
/*==ここまでhome comment==*/


.ftlogo_container {
    margin: 10px;
    height: 150px;
}

.ftlogo_container p {
    height: 100%;
}

.ftlogo_container p img {
    height: 100%;
}

.copyright {
    vertical-align: bottom;
    text-align: center;
    color: white;
}
.oohn {
    width: 150px;
}
.go_to_game div p img {
    width: 400px;
}
/*==ここまでfooter comment==*/



.teamtitle {
    text-align: center;
    margin-top: 30px;
}

.teamtitle h1 {
    font-size: 3em;
}
.teamtitle h2 {
    color: white;
    font-size: 2em;
}

.intrflex {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 0 15%;
    justify-content: center;
}

.intrbox {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 122, 122);
}

.intrimg {
    width: 80%;
    margin-top: 5%;
    text-align: center;
}

.intrbox img {
    width: 100%;
    height: auto;
}
/*==ここまでTEAM comment==*/

.abst_wrap {
    text-align: left;
    padding: 30px 17%;
    margin-bottom: 50px;
}

.abst_wrap p {
    font-size: 1.4em;
    letter-spacing: 0.06em;
    line-height: 1.2;
}

.abst0 {
    font-size: 2em;
}
.abst1 {
    color: #0f0;
    font-size: 1.2em;
}
.br {
    line-height: 3;
    vertical-align: bottom;
}
.abst_img {
    width: 80%;
}
/*==ここまでabstract comment==*/



.prj_wrap {
    height: auto;
    padding: 30px 17%;
    display: flex;
    flex-direction: column;
}



.prj_top h1 , .prj_title{
    border-left: solid red;
    border-left-width: 10pt;
    border-bottom: solid gray;
    padding-left: 10px;
}
.parts_title {
    border-left: solid greenyellow;
    border-left-width: 10pt;
    border-bottom: solid gray;
    padding-left: 10px;
}


.prj_bodytext {
    width: 90%;
    padding-left: 10%;
    padding-top: 10px;
    margin-bottom: 30px;
}
.prj_bodytext h2{
    color: white;
    font-size: x-large;
    border-bottom: solid#777777;
    padding-left: 20px;
    margin-top: 30px;
}

.prj_img {
    width: 100%;
    margin: 20px 0;

}

.goal_title , .goal_link{
    margin: 0 15%;
    width: 70%;
}
.goal_title h1 {
    width: auto;
    color: red;
}
.check_box {
    width: 20px;
    height: 20px;
    border: solid white;
}
.goal_wrap0 {
    margin: 0 15%;
    background-color: #000;
    width: 70%;
    display: grid;
    grid-template-areas: 
    "d1 d1 d5"
    "d2 d2 mii"
    "none d3 d6"
    "none d4 d7"
    ;
    grid-template-columns: 100px 4fr 100px;
    grid-template-rows: auto auto auto auto;
    text-align: left;
}
.goal_wrap1 {
    margin: 0 15%;
    background-color: #000;
    width: 70%;
    display: grid;
    grid-template-areas: 
    "e1 e1 e4"
    "e2 e2 e5"
    "e3 e3 e6"
    ;
    grid-template-columns: 100px 4fr 100px;
    grid-template-rows: auto auto;
    text-align: left;
}
.goal_wrap2 {
    margin: 0 15%;
    background-color: #000;
    width: 70%;
    display: grid;
    grid-template-areas: 
    "f1 f1 none"
    "mii f2 f4"
    "f3 f3 f5"
    ;
    grid-template-columns: 100px 4fr 100px;
    grid-template-rows: auto auto auto;
    text-align: left;
}
.d1 {
    grid-area: d1;
}
.d2 {
    grid-area: d2;
}
.d3 {
    grid-area: d3;
}
.d4 {
    grid-area: d4;
}
.d5 {
    grid-area: d5;
}
.d6 {
    grid-area: d6;
}
.d7 {
    grid-area: d7;
}
.e1 {
    grid-area: e1;
}
.e2 {
    grid-area: e2;
}
.e3 {
    grid-area: e3;
}
.e4 {
    grid-area: e4;
}
.e5 {
    grid-area: e5;
}
.e6 {
    grid-area: e6;
}
.f1 {
    grid-area: f1;
}
.f2 {
    grid-area: f2;
}
.f3 {
    grid-area: f3;
}
.f4 {
    grid-area: f4;
}
.f5 {
    grid-area: f5;
}
.d1 , .d2 , .e1 , .e2 , .e3 , .f1 , .f3 {
    font-size: 1.8em;
    padding-left: 40px;
}
.d3 , .d4 , .f2 {
    font-size: 1.4rem;
}
.d5 , .d6 , .d7 , .e4 , .e5 , .e6 , .f4 , .f5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.goal_wrap p {
    color: white;
}
@media (max-width: 1280px){
    .d1 , .d2 , .e1 , .e2 , .e3 , .f1 , .f3 {
        font-size: 1.5em;
        padding-left: 40px;
    }
    .d3 , .d4 , .f2 {
        font-size: 1.2rem;
    }
}
.references {
    border-left: solid grey;
    border-left-width: 10pt;
    border-bottom: solid gray;
    padding-left: 10px;
    margin-top: 40px;
}




/*==ここまでproject comment==*/





.DS_wrap {
    padding: 0 17%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.index_box{
    background-color: #25292f;
    color: white;
    width: 60%;
    height: auto;
    padding: 0 10%;
    padding-bottom: 15px;
    margin: 50px 10% 0;
    text-align: left;
}
.index_title {
    margin-top: 10px;
    font-size: x-large;
    border-bottom: solid #aaa;
}
.index_box ul li p {
    font-size: 1.3rem;
}
.ind , .GGG{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 1.5em;
    color: rgb(109, 109, 194);
}
.DS_title {
    border-left: solid red;
    border-left-width: 10pt;
    border-bottom: solid gray;
    padding-left: 10px;
    margin-top: 40px;
}
.title_top {
    padding-top: 100px;
    width: 100%;
}
.DS_subti {
    border-bottom: solid gray;
    padding-left: 7px;
    font-size: 1.5em;
}
.DS_bodytext {
    width: 90%;
    padding-left: 10%;
    padding-top: 10px;
    margin-bottom: 30px;
}
.DS_bodytext p {
    font-size: 1.2rem;
}
table {
    margin-left: 50px;
    text-align: center;
    position: relative;
    border-collapse: collapse; 
    background-color: #f6f6f6;
  }
  td, th {
    border: 1px solid #999;
    padding: 20px;
  }
  thead th {
    background: black;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
    border-bottom: 3px double #999;
  }
  tbody th {
    background: rgb(69, 165, 42);
    color: black;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  .primary{
    background-color: #000000
  }
  tfoot th,td{
    padding: 0 20px;
  }
  tfoot > tr  {
    background: black;
    color: white;
    border: 0;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }
.DS_legend {
    width: calc(100% - 50px);
    padding: 10px 0;
    padding-left: 50px;
}
.DS_legend_S {
    width: calc(80% - 50px);
    padding: 10px 0;
    padding-left: 50px;
}
pre {
    width: 80%;
    padding: 2em;/* 内側の余白 */
    padding-right: 8em;
    margin-top: 1.5em;/* 外側の余白 */
    margin-left: 50px;
    border: solid 1px #4d4d4d;/* 枠線（枠線を濃い黒に） */
    background: #25292f;/* 背景色（背景を黒に） */
    color: #fff;/* 文字色（文字を白に） */
    line-height: 1.1;
    }
.tex {
    line-height: 1.5;
    color: white;
}
.hybr_wrap {
    width: calc(100% - 50px);
    height: 300px;
    padding-top: 20pX;
    margin: 10px 0;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}
.hybr_box {
    height: 100%;
    width: auto;
    max-width: 33%;
}
.hybr_box p {
    color: black;
    text-align: center;
}
.hybr_img {
    height: 80%;
    width: auto;
    max-width: 100%;
}

/*==ここまでdesign&simulation comment==*/





.mtd_wrap {
    height: auto;
    padding: 0 17% 30px;
    display: flex;
    flex-direction: column;
}
.mtd_title {
    border-left: solid blueviolet;
    border-left-width: 10pt;
    border-bottom: solid gray;
    padding-left: 10px;
    margin-top: 40px;
}
.mtd_subti {
    color: white;
    border-bottom: solid gray;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 1.5em;
}
.mtd_bodytext {
    color: white;
    width: 90%;
    padding-left: 10%;
    padding-top: 10px;
    margin-bottom: 30px;
}
.mtd_img {
    width: 100%;
    margin: 20px 0;
}.mtd_bodytext h3 {
    font-size: 2em;
    color: rgb(172, 64, 64);
}
.min_unit {
    margin-left: 30px;
}
.min_unit h4 {
    font-size: large;
}
.min_unit span {
    color: #aaa;
}
.solulist {
    margin-left: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-left: solid #777777;
}
/*==ここまでmethod comment==*/



.conc_wrap {
    padding: 30px 17%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.absolute {
    position: absolute;
    left: 38px;
    bottom: 30%;
    width: 50px;
}
/*==ここまでconclusion comment==*/


.rst_wrap {
    padding: 0 17%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.rst_title {
    border-left: solid gray;
    border-left-width: 10pt;
    border-bottom: solid gray;
    padding-left: 10px;
    margin-top: 40px;
}
.rst_bodytext {
    width: 94%;
    padding-left: 6%;
    padding-top: 10px;
    margin-bottom: 30px;
}
.rst_bodytext h2 {
    color: white;
    border-bottom: solid gray;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.rst_imgs {
    width: 60%;
    padding-left: 20px;
}
.rst_imgs img {
    width: 100%;
}
/*==ここまでresult comment==*/



.gamewrap {
    width: 60%;
    display: flex;
    padding: 0 20%;
    justify-content: center;
}
.gamepage {
    height: 100px;
}
.gc {
    border: 1px solid #000;
    background: #777777;
}
/*==ここまでgame comment==*/


